
@{
    Layout = null;
}

<!DOCTYPE html>
@model Model.salary_standardModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPBG</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="divsss">

    

        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记变更</font>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="right">
                        <input type="button" value="重新提交" v-on:click="up" class="BUTTON_STYLE1"
                               onclick="check()">
                        <input type="button" value="返回" onclick="history.back();"
                               class="BUTTON_STYLE1">
                    </div>
                </td>
            </tr>
        </table>

        <input type="hidden" name="standard.ssdId" value="1238">
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="12%" class="TD_STYLE1">
                    薪酬编号
                </td>
                <td width="15%" class="TD_STYLE2">
                    @Html.TextBox("standard_id", Model.standard_id, new { @class = "INPUT_STYLE2", @id = "bh" })
                    @Html.TextBox("Id", Model.Id, new { @type = "hidden", @id = "salaid" })
                </td>
                <td width="12%" class="TD_STYLE1">
                    薪酬标准名称
                </td>
                <td width="11%" class="TD_STYLE2">
                    @*<input type="text" name="standard.standardName" id="standardName" value="董事长"
                           class="INPUT_STYLE2">*@
                    @Html.TextBox("standard_name", Model.standard_name, new { @class = "INPUT_STYLE2", @id = "mc" })
                </td>
                <td width="11%" class="TD_STYLE1">
                    薪酬总额
                </td>
                <td width="17%" class="TD_STYLE2">
                    @*<input type="text" name="standard.salarySum" id="sumSalary" value="135827.0"
                           class="INPUT_STYLE2" readonly="readonly">*@

                    @Html.TextBox("salary_sum", Model.salary_sum, new { @class = "INPUT_STYLE2", @id = "sumSalary" })
                </td>
                <td width="12%" class="TD_STYLE1">
                    &nbsp;
                </td>
                <td width="10%" class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    制定人
                </td>
                <td class="TD_STYLE2">
                    @*<input type="text" name="standard.designer" id="designer" value="杨阳"
                           class="INPUT_STYLE2">*@
                    @Html.TextBox("designer", Model.designer, new { @class = "INPUT_STYLE2", @id = "zdr" })
                </td>
                <td class="TD_STYLE1">
                    变更人
                </td>
                <td class="TD_STYLE2">
                    @*<input type="text" name="standard.changer" value="better_admin"
                           readonly="readonly" class="INPUT_STYLE2">*@
                    @Html.TextBox("changer", Model.changer,new {@class="INPUT_STYLE2",@id="bgr" })
                    @Html.TextBox("register", Model.register, new { @type = "hidden", @class = "INPUT_STYLE2", @id = "fhr" })
                    @Html.TextBox("register ", Model.register, new { @type = "hidden", @id = "djr" })
                </td>
                <td class="TD_STYLE1">
                    变更时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="standard.changeTime"
                           id="bgsj" readonly="readonly"
                           class="INPUT_STYLE2">
                    @Html.TextBox("regist_time", Model.regist_time, new { @type = "hidden", @id = "drsj" })
                    @Html.TextBox("check_time", Model.check_time, new { @type = "hidden", @id = "Tdate", @readonly = "readonly" })
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    @Html.TextBox("check_comment", Model.check_comment, new { @type = "hidden", @rows = "4", @id = "fhyj" })
                    @Html.TextArea("remark", Model.remark, new { @class = "TEXTAREA_STYLE1", @rows = "4", @id = "bz" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    序号
                </td>
                <td colspan="3" class="TD_STYLE1">
                    薪酬项目名称
                </td>
                <td colspan="4" class="TD_STYLE1">
                    金额
                </td>
            </tr>
            <tbody id="tb"></tbody>

        </table>
    </div>
    <script type="text/javascript">
        var sum = 0;
        var cd = 0;
        var vm = new Vue({
            el: "#divsss",
            data: {
                rows: null
            },
            methods: {
                load: function () {
                    var v = this;
                    $.ajax({
                        url: "/salary_standard/Select2",
                        type: "post",
                        data: "salaid=" + $("#bh").val(),
                        success: function (msg) {
                            var dt = eval("(" + msg + ")");
                            for (var i = 0; i < dt.length; i++) {
                                var $tr = $("<tr class='TD_STYLE2'></tr>");
                                var $td = $("<td align='center' id='xh" + i + "'>" + dt[i]["item_id"] + "<input type='hidden' id='pid" + i + "' value='" + dt[i]["Id"] + "'></td>");
                                var $td1 = $("<td colspan='3'>" + dt[i]["item_name"] + "<input type='hidden' id='details" + (i + 1) + "' name='details[" + i + "].itemName' value='" + dt[i]["item_name"] + "'></td>");
                                var $td2 = $('<td><input  type="text" onkeyup="countMoney(' + (i + 1) + ')"  id="salary' + (i + 1) + '" value="' + dt[i]["salary"] + '" name="details[' + i + '].salary" class="INPUT_STYLE2" ></td>');
                                var $td3 = $("<td colspan='3'>&nbsp;</td>");
                                $tr.append($td, $td1, $td2, $td3);
                                $("#tb").append($tr);
                                $("#salary" + (i + 1)).data("key", (i + 1));
                                cd = dt.length;


                            }

                        }
                    });
                },
                up: function () {
                    var arr = new Array();
                    for (var i = 0; i < cd ; i++) {
                        var salary_standard_details = {
                            bh: $("#bh").val(),
                            mc: $("#mc").val(),
                            id: $("#pid" + (i) + "").val(),
                            xcmc: $("#details" + (i + 1) + "").val(),
                            je: $("#salary" + (i + 1) + "").val(),
                            xh: $("#xh" + (i) + "").text()
                        };
                        arr[i] = salary_standard_details;
                    }
                    var salary_standard = {
                        bh: $("#bh").val(),
                        mc: $("#mc").val(),
                        zdr: $("#zdr").val(),
                        fhr: $("#fhr").val(),
                        fhsj: $("#Tdate").val(),
                        drsj: $("#drsj").val(),
                        ze: $("#sumSalary").val(),
                        fhyj: $("#fhyj").val(),
                        bz: $("#bz").val(),
                        bgsj: $("#bgsj").val(),
                        djr:$("#djr").val(),
                    }
                    $.ajax({
                        url: "/salary_standard/UPBG",
                        type: "post",
                        data: "salary_standard=" + JSON.stringify(salary_standard) + "&salary_standard_details=" + JSON.stringify(arr) + "&said=" + $("#salaid").val(),
                        success: function (msg) {
                            if (msg == "OK") {
                                alert("修改成功!!!");
                                window.location.href = '/salary_standard/SelectBG?id=' + localStorage.getItem("bh") + "&gjz=" + localStorage.getItem("gjz") + "&rl=" + 1 + "&endDate=" + localStorage.getItem("sjq") + "&date_start=" + localStorage.getItem("sjh");
                            } else {
                                alert("修改失败!!!");
                            }
                        }
                    })

                },
                fh: function () {
                    location.href = "/salary_standard/SelectBG";
                }

            }
        })
        vm.load();
        function countMoney(id) {

            if (isNaN($("#salary" + id).val()) || $("#salary" + id).val() < 0) {
                alert("金额填写错误!");
                document.getElementById(o).value = "0.00";
                return;
            }
            var sum1 = 0;
            for (var i = 1; i <= cd; i++) {
                var salary = document.getElementById("salary" + i).value;
                if (salary == "") {
                    salary = "0.00";
                }
                sum1 = Number(sum1) + Number(salary);

            }
            $("#sumSalary").val(sum1);
        }
        function time() {
            var tdate = document.getElementById("bgsj");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }

            tdate.value = y + "-" + moth + "-" + date;

        }
        window.onload = time;
    </script>
</body>
</html>
